.adl-menu-slot {
  /* width: calc(100% - 15px); */
  height: 80px;
  /* border-bottom: 1px solid #222; */
  display: flex;
  align-items: center;
  color: #f2f2f2;
  padding: 0 0 0 15px;
}

.adl-menu-slot__badge img {
  width: 25px;
  height: 25px;
  font-size: 17px;
}

.adl-menu-slot__badge {
  height: fit-content;
  padding: 0 10px;
  display: flex;
  align-items: center;
}


.adl-menu-slot.title {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: #ffffff03;
}

.adl-menu-slot.option {
  cursor: pointer;
  position: relative;
  transition: all 200ms;
}

.adl-menu-slot.option:hover {
  background: #ffffff03;
}

.adl-menu-slot.option:hover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: white;
}